

<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LIP</title>
    
    {% block stylesheets %}     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset('css/signInUp.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/Homestyle.css')}}"/>

  {% endblock %}
  <link rel = "icon" href =  "{{asset("Icons/eiffel64.png")}}" type = "image/x-icon"> 

  </head>
<body>

      <div class="section1" id="sect2">
          <div class="description">
          <img src="{{asset("Icons/eiffel64.png")}}"  class="eiffel-icon" />
          <br/><h1 data-text="Lost In Paris"><span>Lost In Paris</span></h1>
          <p>Aidez le troisème prince du palais de la pureté suprême  des neuf cieux à recupérer les huits symboles ancestraux divins
            et sauvez la dimension du Royaume Immortel!</p>
          <p>Les huits symboles ancestraux divins, chaque symbole a le pouvoir d'un élément: Glace,
           feu, tonnerre, ténèbres, espace, dévorant, chaos et mortalité,<br/>ces existences mythiques 
           datent des temps immémoriaux et ils sont à la base de leur dimension
	        <br/>D'aprés la légende une personnage appellé L'ancêtre des symboles avait un contrôle
          parfait sur les huits symboles ancestraux, il est devenu ainsi omnipuissant c'est lui qui a crée 
          "La royaume immortel" mais un jour, l'ancêtre a mystérieusement disparu et les huit symboles ont été dispersés.
          </p>
          </div>
          <div class="top-players">
          <p class="tp_t">Top Players list</p>
            <ol>
            {% if top_players is defined %}
                {% for player in top_players %}
                    <li>{{ player.username|e }}</li>
                {% endfor %}
            {% endif %}
            </ol>
          </div>
      </div>


<div class="section2" id="sect1">
        <div class="form-group" id="box">
            <div id="btn-box">
            <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="sign_in()">Sign in</button>
                <button type="button" class="toggle-btn" onclick="sign_up()">Sign up</button>
				
            </diV>
                    <form name="fff1" method="POST"  action="{{path('login_Player')}}" class="input-group" id="sign-in"  >
                    <input name="_username"  type="text" class="input-field" placeholder="Saisir votre username"  required />
              
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input name="_target_path"  type="hidden" value="{{path('redirect_player')}}" required />
                    
                    <br/>
                    <input name="_password"  type="password" class="input-field" placeholder="Saisir votre mot de passe"  required />
                    <br/>
                    <span class="error" name="login_error" style="color: red"></span>
                    <input type="submit" name="B1"  class="submit-btn" value="Se connecter"/>
                      {% if error is defined %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                      {% endif %}
                    </form>
                
                    <form name="fff2" method="POST" onSubmit="return signupValid()" action="{{path('create_Player')}}" class="input-group" id="sign-up"  >
                    <input name="pseudo"  type="text" class="input-field" placeholder="Saisir votre username" value="" required />
                    <br/>
                    <input name="mail" type="text" class="input-field" placeholder="Saisir votre mail" required/>
                    <br/>
                    <input name="pass"  type="password" class="input-field" placeholder="Saisir votre mot de passe" value="" required />
                    <br/>
                    <input name="confirm_pass"  type="password" class="input-field" placeholder="Confirmer votre mdp" value="" required />
                    </br>
                    <p class="error" id="signup_error" style="color: red; margin: 0; padding: 0;">
                    {% if msg is defined%}
                    {{ msg }}
                    {% endif %}
                    </p>
                    <input type="submit" name="B1"  class="submit-btn"  value="S'inscrire"/>
                    </form>

    </div>
</div>
    <div class="footer">
      <p>2020 Copyright ©  ENSG Géomatique Developped by Maghraoui Dhia Eddine & Namekong Teulong Patrick Franck</p>
      <a href="https://www.facebook.com/ENSGeomatique" class="fa fa-facebook"></a>
      <a href="https://fr.linkedin.com/edu/ecole-nationale-des-sciences-g%C3%A9ographiques-12351" class="fa fa-linkedin"></a>
      <img src="{{asset('Icons/logo_ensg.png')}}"  class="logo"/>
    </div>
  {% block javascripts %}
  <script src="{{asset('js/FormValidation.js')}}"></script>
  <script src="{{asset('js/toggle.js')}}"></script>
  {% if msg is defined %}
  <script>sign_up()</script>
  {% endif %}
  {% endblock %}
  </body>
</html>