
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}LIP{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block stylesheets %} 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link rel="stylesheet" href="{{asset('css/signInUp.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/Homestyle.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/Playerstyle.css')}}"/>

  {% endblock %}
  <link rel = "icon" href =  "{{asset("Icons/eiffel64.png")}}" type = "image/x-icon"> 
           {% block javascripts %}
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            
        {% endblock %}

  </head>
{% block body %}
<body>

      <div class="section1" id="mapid">
      

      </div>


<div class="section2" id="playerInterface">
    {% if app.user %}
    <a href="{{path('logout_Player')}}" id="logout">Déconnexion</a>
    <div class="herobox">
    <div id="dialogbox"><p id="msg"></p></div>
    </div>
    {% endif %} 
    
    <div id="items"></div>

    <img src="{{asset('Icons/1.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/2.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/3.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/4.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/5.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/6.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/7.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/8.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/9.png')}}" style="display: none;"/>
    <img src="{{asset('Icons/10.png')}}" style="display: none;"/> 
</div>
    <div class="footer">
      <p>2020 Copyright ©  ENSG Géomatique Developped by Maghraoui Dhia Eddine & Namekong Teulong Patrick Franck</p>
      <a href="https://www.facebook.com/ENSGeomatique" class="fa fa-facebook"></a>
      <a href="https://fr.linkedin.com/edu/ecole-nationale-des-sciences-g%C3%A9ographiques-12351" class="fa fa-linkedin"></a>
      <img src="{{asset('Icons/logo_ensg.png')}}"  class="logo"/>
    </div>
          {% if app.user is defined %}
            {% if inventaire is defined %}
              {% set player_inventaire=[] %}
              {% for item in inventaire %}
                {% set player_inventaire=player_inventaire|merge([{id:item.id,description:item.description,niveau:item.niveau,visibility:item.visibility}]) %}
              {% endfor %}
            {% endif %}
            {% set player_data = {
                    pseudo: app.user.Username,
                    longitude: app.user.longitude,
                    latitude: app.user.latitude,
                    inventaire: player_inventaire,
                } %}

                <div data-player='{{ player_data | json_encode | raw }}'>
                {% for item in app.user.inventaire %}
                  {{item}}
                {% endfor %}
                </div>

          {% endif %}
          <a href="{{path('redirect_player')}}" id="redirect"/>

            

                

        {% block javascript %}
        <script src="{{asset('js/code.js')}}"></script>
        {% endblock %}
  {% endblock %}
  </body>
</html>


