body{
  color:#fff;
  background-color:#11181e;
  margin: 0;}
.section1{
	background-color:#11181e;
	width:50%;
	float:left;
	height:100vh;
	/*border-right: 1vw solid #F5E5D6; */
    /*box-sizing: border-box;*/
    margin:0;
    padding:0;	
}
.section2{
	background-color:#11181e;
	width:50%;
	float:left;
	overflow: hidden;
	height:100vh;
	margin:0;
	padding:0;
}
.footer{
    height: 20%;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
}
p,h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: calc(10px + 0.5vw);
    transition: all 1s ease-out;
}


h1 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(10px + 2vw);
  font-weight: 700;
  color: rgb(218, 150, 206) ;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.30em #9b00e8;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.015em);
}
.tp_t{
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(10px + 0.5vw);
  font-weight: 700;
  color: rgb(218, 150, 206) ;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.70em #9b00e8;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.015em);
}

p:hover{
    color: violet;
}


.logo{
    margin: 0;   
    margin-right: 15px;
    width: 120px;
    height: 120px;
    float: right;
    position: relative;
}
.eiffel-icon{
  margin: 0;
  margin-right: 15px;
  float: left;
}

.description{
  margin: 0;
  width: 60%;
  float: left;
}
.top-players{
  width: 30%;
  height: 50%;
  float: right;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  margin: 3% auto;
  padding: 5px;
  border-radius: 25px;
-webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  @media screen and (max-device-width: 800){
    .section1{
        width: 100% !important; 
        float: none !important;
    }
    .section2{
        width: 100% !important;
        float: none !important;
    }
    #btn-box{
        width: 10% !important;
        height: 5% !important;
    }
    #btn{
        width: 5% !important;
        height: 5% !important;
    }
  }