.section2{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0%;
    padding: 5px;
    border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
#logout {
  color: #fff; 
  cursor: pointer; 
  padding: 10px 30px; 
  margin-top: 10px;
  }
  
  #logout:hover {
  background-color: #fff; 
  color: #333; 
  }


.herobox{
  margin: 0;
  position: absolute;
  width: 24%;
  height: 30%;
  background-image: url('Hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
#dialogbox{
  height: 70%;
  background-image: url('dialog_box3.png');
  margin: 0;
  background-size: 91% 100%;
  background-repeat: no-repeat;
  position: relative;
  transition: all 5s ease-out;
  opacity: 0.0;
}

#msg{
  color: black;
  margin-left: 20px;
  padding: 20px;
  font-size: calc(8px + 0.2vw);

}
#items{
  width: 23%;
  position: absolute;
  margin-top: 30vh;
  padding-top: 40px;
  display: grid;
  grid-template-areas: "a b c";
  padding-left: 0;
  padding-bottom: 40px;
  grid-gap: 20px;
  grid-auto-rows: 50px;
}