
.form-group{
	width: 70%;
	height: 55%;
	background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    margin: 6% auto;
    padding: 5px;
    border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

#btn-box{
    width: 210px;
	height: 50px;
    margin: 35px auto;
	margin-bottom: 0px;
    position: relative;
    box-shadow: 0 0 20px 2px #f046ff;
	display: flex;
    border-radius: 30px;
}
.toggle-btn{
    padding: 20px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
	color: white;
	height: 20px;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 50px;
    background: linear-gradient(to right,#f046ff, #9b00e8);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 60%;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
	padding-left: 10px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
	color: white;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent;
	border-radius: 15px;

}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: white;
	margin-top: 10px;
    background: linear-gradient(to right,#f046ff, #9b00e8);
    border :0;
    outline: none;
    border-radius: 30px;
}
#sign-in{
    left: 20%;
}
#sign-up{
    right: 70%px;
	display:none;
}
