<!DOCTYPE html>


<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}LIP{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block stylesheets %} 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset('css/signInUp.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/Homestyle.css')}}"/>

  {% endblock %}
  <link rel = "icon" href =  "{{asset("Icons/eiffel64.png")}}" type = "image/x-icon"> 

  </head>
{% block body %}
<body>

      <div class="section1" id="mapid">

      </div>


<div class="section2">

</div>
    <div class="footer">
      <p>2020 Copyright ©  ENSG Géomatique Developped by MaghraouiDE & Namekon Teulong PF</p>
      <a href="https://www.facebook.com/ENSGeomatique" class="fa fa-facebook"></a>
      <a href="https://fr.linkedin.com/edu/ecole-nationale-des-sciences-g%C3%A9ographiques-12351" class="fa fa-linkedin"></a>
      <img src="{{asset('Icons/logo_ensg.png')}}"  class="logo"/>
    </div>
  {% block javascript %}

  <script src="{{asset('js/toggle.js')}}"></script>
  {% endblock %}
  {% endblock %}
  </body>
</html>