<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    

  </head>
<body style="background-color:#11181e;margin:0;">

      <div class="section1" id="sect2">
          <img src="{{ email.image('@Icons/eiffel64.png') }}" style="width: 100px;height: 100px;float: right;position: relative;"/>
          <br/><h1 data-text="Lost In Paris" style=" font-family: 'Montserrat', Arial, sans-serif;
          font-size: calc(10px + 2vw);font-weight: 700;color: rgb(218, 150, 206) ;
          text-shadow: 0 0 0.30em #9b00e8;
          filter: blur(0.015em);
          padding: 10px;">
          Lost In Paris</h1>
          <p style="color: white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 10px;font-size: calc(10px + 0.5vw);">
          Bravo {{username}},<br/> <br/>vous venez de créer un compte sur LostInParis!, si vous n'êtes pas à l'origine de cette action veuillez 
          nous envoyer un message et 
            nos modérateurs réglerons le problème.
          <br/><br/>Bonne journée
          </p>
        </div>
  </body>
</html>